[user]
	name = "first last"
	email = "<your_email>"
	signingkey = "<path/to/your/key>"
[init]
	defaultBranch = main
[gpg]
	format = ssh
[core]
	editor = nvim
[color]
	ui = auto
[commit]
	gpgsign = true
[alias]
	pushfwl = push --force-with-lease
[rerere]
	enabled = true
[push]
	autoSetupRemote = true
[pull]
	rebase = true
